@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* base styles */
body {
  background: #ebf0fa;
  @apply text-gray-500 m-8;
}

/* button styles */
button {
  @apply 
    px-3 py-2 
    rounded-sm 
    flex justify-between items-center gap-2
    text-sm;
}
button:hover {
  @apply bg-opacity-90;
}
.btn-primary {
  @apply bg-primary text-white;
}
.btn-secondary {
  @apply bg-gray-200 text-gray-900;
}

/* feedback styles */
.error {
  @apply 
    border-2 
    border-red-500 
    bg-red-300
    text-red-800 
    py-1 px-2 
    rounded-sm
    block
    max-w-fit
    my-4 mx-auto;
}

/* card styles */
.card {
  @apply 
    bg-white 
    shadow-sm 
    rounded-md 
    py-3 px-4 my-4 
    relative 
    overflow-hidden;
}
.card h3 {
  @apply 
    font-bold text-gray-700 text-sm 
    mb-0;
}
.card p {
  @apply my-4 text-sm leading-6;
}

/* pill styles */
.pill {
  @apply 
    py-1 px-2 mt-3
    inline-block 
    text-xs font-semibold;
}
.pill.high {
  @apply bg-red-300 text-red-600;
}
.pill.medium {
  @apply bg-blue-300 text-blue-600;
}
.pill.low {
  @apply bg-emerald-300 text-emerald-600;
}
.card .pill {
  @apply 
    absolute bottom-0 right-0 
    rounded-tl-md;
}
